*{
    margin: 2px;
    padding: 5px;
    box-sizing: border-box;
}

.a{
    text-decoration: none;
}

body{
    font-family: 'Montserrat',sans-serif;
}
.padre{
    display: flex;
    flex-flow: column nowrap;

}
    .header{
        background: url(../img/arbol.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu {
            background: rgba(0,0,0,.4);
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
            border-bottom: 1px solid rgba(red, green, blue, alpha);

        }
            .logo{
                flex: 1 1 auto;
                font-size: 30px;
            }
                .logo a {
                    color:#fff;
                    text-decoration: none;
                }
                .logo a:hover {
                    color: #343434;

                }

            .nav{
                flex: 5 1 auto ;
            }
                .nav a {
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;    
                }
                .nav a:hover{
                    color:#343434
                }

            .social{
                flex: 1 1 auto ;
                display: flex;
            }
                .social a{
                    font-size: 18px;
                    color: #fff;
                    padding: 0 5px ;
                }

        .texto-principal{
           /* background: rgb(163, 181, 128); */
           height: 580px ;
           display: flex;
           align-items: center;
        }
            h1{
                font-family:'Lora', serif ;
                font-size: 21px;
                color: #fff;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
            }

    .section{
        background: #000;
        display: flex;
    }
        .articulos {
            background: #f7f7f7;
            flex: 2 1 auto ;
            display: flex;
            flex-flow: row wrap;
        }
            .article {
                flex: 1 1 40%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: #ececec;
            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                color: #fff;
                font-size: 13px;
                padding: 15px 0;
                
            }


            .navegacion{
                background: rgb(194, 187, 234);
                flex: 1 1 100%;
            }
        .aside{
            background: #f73f52;
            flex: 1 1 auto
        }
            .publicidad{
                background: #ffea85;

            }
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: #ffea85;
            width: 300px;
        }


@media all and (max-width:800px){
            .section{
                flex-direction: column;
            }
            .menu{
                flex-direction: column;
                height: auto;
            }
            .aside{
                display: flex;
                justify-content: center;

            }
}
@media all and (max-width:600px){
    .articulos{
        flex-direction: column;
    }   
}

@media all and (max-width:400px){
    .aside{
        flex-direction: column;
    }   
}